Checks: '-*,clang-analyzer-*,modernize-*,bugprone-*,concurrency-*,cppcoreguidelines-*,readability-*,performance-*,portability-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
CheckOptions:
  - key: modernize-use-auto
    value: 0
  - key: cppcoreguidelines-avoid-magic-numbers
    value: 0
  - key: readability-braces-around-statements
    value: 0
  - key: readability-indentation
    value: 4
  - key: readability-brace-placement
    value: 4